<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nezva.bssvpr@vpybhq.pbz</string>
	<key>contactName</key>
	<string>Platin21</string>
	<key>description</key>
	<string>This is a bundle for the ion language created by pervognsen for they bitwise project.
Version 2 for highlighting 
Bundle: 
https://github.com/Platin21/ion.tmbundle

Bitwise:
https://github.com/pervognsen/bitwise/tree/master/ion
</string>
	<key>name</key>
	<string>Ion</string>
	<key>uuid</key>
	<string>7783CA92-23FB-44F9-B6FB-A59CDB0B4ECB</string>
</dict>
</plist>
